{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Map</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
            integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% comment %} <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script> {% endcomment %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    </head>
    <body>
        {% include "_navbar.html" %}

        {% block main %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block chartdata %}
        {% endblock %}

        <script>
            subsid = [];
            var xdata = {{dataset_cols | safe}};
            var ydata = {{dataset | safe}};
            var dict = new Object();
            for (let i = 0; i < 110; i++) {
                dict = {x: xdata[i], y: ydata[i]};
                subsid.push(dict);
            }

            groundw = [];
            var xdata = {{groundwater_cols | safe}};
            var ydata = {{groundwater | safe}};
            var dict = new Object();
            for (let i = 0; i < 83; i++) {
                dict = {x: xdata[i], y: ydata[i]};
                groundw.push(dict);
            }

            precip = [];
            var xdata = {{precipitation_cols | safe}};
            var ydata = {{precipitation | safe}};
            var dict = new Object();
            for (let i = 0; i < 92; i++) {
                dict = {x: xdata[i], y: ydata[i]};
                precip.push(dict);
            }
            console.log(precip);

            console.log(subsid)
            new Chart(document.getElementById("myChart"), {
                type: "line",
                data: {
                    datasets: [{
                        borderColor: "red",
                        fill: false,
                        data: subsid,
                        label: 'Subsidence (cm)',
                        yAxisID: 'y',
                    },
                    {
                        borderColor: "blue",
                        fill: false,
                        showLine: true,
                        data: groundw,
                        label: 'Groundwater (ft)',
                        yAxisID: 'y1',
                    },
                    {
                        borderColor: "green",
                        fill: false,
                        showLine: true,
                        data: precip,
                        label: 'Precipitation (mm)',
                        yAxisID: 'y2'
                    }]
                },
                options: {
                    responsive: true, 
                    legend: {display: false},
                    spanGaps: true,
                    scales: {
                        xAxes: [{
                            type: 'time', 
                            display: true, 
                            scaleLabel: {
                                display: true,
                                fontStyle: 'bold',
                                fontSize: 20,
                                labelString: 'Date'
                            },
                       }], 
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Subsidence (cm)',
                                fontStyle: 'bold',
                                fontSize: 20,
                                fontColor: 'darkred'
                            },
                            id: 'y',
                            type: 'linear',
                        }, {
                            scaleLabel: {
                                display: true,
                                labelString: 'Groundwater (ft)',
                                fontStyle: 'bold',
                                fontSize: 20,
                                fontColor: 'darkblue'
                            },
                            id: 'y1',
                            type: 'linear',
                        }, {
                            scaleLabel: {
                                display: true,
                                labelString: 'Precipitation (mm)',
                                fontStyle: 'bold',
                                fontSize: 20,
                                fontColor: 'darkgreen'
                            },
                            id: 'y2',
                            type: 'linear',
                        }]
                    }
                }
            });
        </script>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>

