{% extends "base.html" %}

{% load static %}

{% block main %}
{% comment %} <input type="hidden" id="Url" data-url="{% url 'jpl_app_url' id %}" /> {% endcomment %}
{% endblock %}

{% block content %}
<div class="section-map" id="mapid">
    {{ ma | safe }}
    {{ lat | safe }}
</div>
<form action="" method="get" id="mapform">
    {% csrf_token %}
</form>
{% endblock %}

{% block chartdata %}
<div class="chart" id="chartid">
    <canvas id="myChart" style="margin-top:-5vh;width:auto;height: 50vh;"></canvas>
</div>
{% endblock %}

{% block pics %}
<!-- <img src="{% static 'newplot.png' %}" alt="newplot" style="width: 54vw;
    height: auto;float: left;margin-left: 1vw;"/> -->
<!-- <img src="{% static 'times.png' %}" alt="times" style="width: 54vw;
height: auto;float: left;margin-top: 1vh;margin-left: 1vw;"/> -->
{% endblock %}

