{% extends "base.html" %}

{% load static %}

{% block main %}
{% comment %} <input type="hidden" id="Url" data-url="{% url 'jpl_app_url' id %}" /> {% endcomment %}
{% endblock %}

{% block content %}
<div class="section-map" id="mapid">
    Latitude: {{ lat | safe }},
    Longitude: {{ lng | safe}}
    {{ ma | safe }}
</div>
<form action="" method="get" id="mapform">
    {% csrf_token %}
</form>
{% endblock %}

{% block chartdata %}
<div class="chart" id="chartid">
    <canvas id="myChart" style="margin-top:-5vh;width:auto;height: 50vh;"></canvas>
</div>
{% endblock %}


